<!DOCTYPE html>
<html>
    <head>
        <link rel ="stylesheet" href="submitStylesheet.css"></link>
        <script src = "submitController.js" defer></script>
    </head>
    <body onload="initiate()">
        <form action="submitScore" id="submitScoreForm" method="POST">
            <input type="text" id="nameField" name="name" placeholder="Name"></input>
            <input type="text" id="scoreField" name="name" placeholder="{{{value}}}"></input>
        </form>
    </body>
</html>